/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

ul{
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
}
ul li{
    float: left;
}
ul li a{
    display: block;
    color: black;
    font-weight:bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    text-decoration: none;
    background-color:#f4b841;
}
